/* Variable Declarations */

:root {
  --color-primary: #119103;
  --color-warning: #e74c3c;
  --font-body: 'Quicksand', sans-serif;
  --font-color-light: white;
  --font-color-dark: black;
  --font-headers: 'Press Start 2P', cursive;
  --font-size-large: 36px;
  --font-size-standard: 24px;
  --spacing-large: 40px;
  --spacing-standard: 20px;
  --spacing-small: 10px;

  /* 
  Material Screen Size Breakpoints
    xs: 0-600px
    sm: 600-960px
    md: 960-1280px
    lg: 1280-1920px
    xl: 1920px+
  */
}

/* Utility Classes */

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.material-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  overflow: hidden;
}

.material-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

a.hidden,
button.hidden {
  display: none;
}

/* Domain Classes */

body {
  font-family: var(--font-body);
  font-size: var(--font-size-standard);
  justify-content: space-between;
  margin: 0;
  padding: var(--spacing-standard);
}

button:hover {
  cursor: pointer;
}

.constraint__details .button__unlock {
  color: var(--color-warning);
}

.constraints {
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.constraint {
  overflow: hidden;
}

.constraint__field-button {
  background: none;
  border: none;
  transition: color 0.25s ease-out;
  text-decoration: none;
  color: var(--font-color-dark);
  display: inline-block;
  padding: 0 var(--spacing-small);
}

.constraint__field-button:hover {
  color: var(--color-primary);
  transition: color 0.25s ease-out;
}

.header {
  font-family: var(--font-headers);
  font-weight: lighter;
  font-size: var(--font-size-large);
  margin: 0;
}

@media (max-width: 600px) {
  .header {
    font-size: var(--font-size-standard);
  }
}

.constraints__title {
  text-align: center;
}

.constraints__subtitle {
  color: var(--color-primary);
  text-align: right;
}

.constraints__intro {
  text-align: center;
}

.constraints__options {
  margin-bottom: var(--spacing-standard);
  width: 90%;
}

.constraints__header {
  margin-bottom: var(--spacing-large);
}

.constraint__header {
  background-color: var(--color-primary);
  color: var(--font-color-light);
  font-family: var(--font-headers);
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-standard);
}

.details__toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  padding: 0;
  transition: 0.25s ease;
}

.details__toggle--expanded {
  transform: rotate(180deg);
}

.constraint__value {
  border: none;
  font-size: 1em;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  padding: var(--spacing-small) var(--spacing-standard);
}

.constraint__control {
  display: inline-block;
}

.constraint__details--expanded {
  transition: opacity 0.25s ease-out, padding 0.25s ease-out;
  opacity: 1;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: end;
}

.constraint__details--collapsed {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: opacity 0.25s ease-in;
}

.constraints__button {
  border: none;
  padding: var(--spacing-standard) var(--spacing-large);
  background-color: var(--color-primary);
  color: var(--font-color-light);
  font-family: var(--font-body);
  font-size: 1em;
  letter-spacing: 0.2em;
  margin-top: var(--spacing-large);
  text-transform: uppercase;
}
